<div class="chart-card">

<h2>Highest outbound traffic: </h2>
<p>{{serverMaxOutboundTraffic}} ( {{serverMaxOutboundTrafficType}} ) </p>
</div>

<div class="chart-card">
<h2>Highest inbound traffic : </h2>
<p>{{serverMaxInboundTraffic}}( {{serverMaxInboundTrafficType}} )</p>
</div>

<div class="chart-card">
<h2>Highest outbound packets: </h2>
<p>{{serverMaxOutboundPacket}} ( {{serverMaxOutboundPacketType}} )</p>
</div>

<div class="chart-card">
<h2>Highest inbound packets: </h2>
<p>{{serverMaxInboundPacket}} ( {{serverMaxInboundPacketType}} )</p>
